.red {
  color: #ec2933; }

.green {
  color: #23d84f; }

.blue {
  color: #40b1fa; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 100%;
  color: #272822; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

h2, strong {
  text-shadow: 1px 1px 1px #efefef;
  color: black;
  font-weight: normal; }

div {
  font-family: Arial, sans-serif; }

a {
  color: #23d84f;
  text-decoration: none; }

article {
  font-size: 1.2em; }

.decile1 h2, .decile1 strong, .decile1 a {
  color: #fa0b0b; }

.decile2 h2, .decile2 strong, .decile2 a {
  color: #fa4d10; }

.decile3 h2, .decile3 strong, .decile3 a {
  color: #de621f; }

.decile4 h2, .decile4 strong, .decile4 a {
  color: #fc7014; }

.decile5 h2, .decile5 strong, .decile5 a {
  color: #ad7414; }

.decile6 h2, .decile6 strong, .decile6 a {
  color: #107010; }

.decile7 h2, .decile7 strong, .decile7 a {
  color: #1abefb; }

.decile8 h2, .decile8 strong, .decile8 a {
  color: #0a0085; }

.decile9 h2, .decile9 strong, .decile9 a {
  color: #0a0085; }

.decile10 h2, .decile10 strong, .decile10 a {
  color: #7f00bf; }

#map-header {
  width: 356px;
  height: 33px;
  position: absolute;
  top: 9px;
  right: 0;
  display: block;
  z-index: 8;
  background: #fff;
  -webkit-box-shadow: 0 0 1px #666;
  -moz-box-shadow: 0 0 1px #666;
  box-shadow: 0 0 1px #666;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px; }
  @media screen and (max-width: 768px) {
    #map-header {
      width: 64%;
      background: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; } }
  @media screen and (max-width: 480px) {
    #map-header {
      width: 54%;
      top: 9px; } }

#search-wrap {
  position: absolute;
  display: block;
  z-index: 9;
  right: 2px;
  top: 2px; }
  #search-wrap #search-label {
    font-size: 0.6em;
    text-transform: uppercase; }
  #search-wrap #map_search {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 1px #666;
    -moz-box-shadow: 0 0 1px #666;
    box-shadow: 0 0 1px #666;
    border: 0;
    box-sizing: border-box;
    width: 292px;
    padding: 5px 7px 7px;
    font-size: 14px; }
  @media screen and (max-width: 768px) {
    #search-wrap #search-label {
      display: none; } }
  @media screen and (max-width: 480px) {
    #search-wrap #map_search {
      width: 186px; } }

#map_legend {
  position: absolute;
  display: block;
  width: 133px;
  right: 0;
  top: 55px;
  z-index: 9;
  line-height: 18px;
  font-size: 0.9em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px #666;
  -moz-box-shadow: 0 0 1px #666;
  box-shadow: 0 0 1px #666;
  border: 0;
  box-sizing: border-box; }
  #map_legend p {
    background: #fff;
    border-right: 1px solid #979899;
    padding: 3px 6px;
    text-align: right;
    border-bottom: 1px solid #efefef; }
    #map_legend p span {
      letter-spacing: -2px;
      font-size: 2em;
      float: right; }
      #map_legend p span.line {
        float: left; }
    #map_legend p small {
      line-height: 22px;
      width: 50%;
      text-align: left;
      display: inline-block; }
    #map_legend p:first-child {
      -webkit-border-radius: 6px 0 0;
      -moz-border-radius: 6px 0 0;
      -ms-border-radius: 6px 0 0;
      border-radius: 6px 0 0; }
    #map_legend p:last-child {
      -webkit-border-radius: 0 0 0 6px;
      -moz-border-radius: 0 0 0 6px;
      -ms-border-radius: 0 0 0 6px;
      border-radius: 0 0 0 6px; }
    #map_legend p.nav-icon {
      height: 55px;
      background: #fff url(../images/school.png) no-repeat 5px 5px; }
      #map_legend p.nav-icon small {
        line-height: 55px; }
      #map_legend p.nav-icon.nav-substation {
        background-image: url(../images/substation.png); }
  #map_legend #map_legend {
    border: 1px solid #979899; }
    #map_legend #map_legend p {
      right: 0;
      top: 0; }
  @media screen and (max-width: 768px) {
    #map_legend {
      width: 100%;
      top: 50px;
      background: #fff; }
      #map_legend:after {
        content: ".";
        height: 0;
        clear: both;
        display: block;
        visibility: hidden; }
      #map_legend p {
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        border-radius: 0 !important;
        border: 0;
        padding: 0;
        display: inline-block;
        width: 25%;
        height: 40px;
        float: left;
        text-align: center; }
        #map_legend p span.line {
          float: none;
          display: block;
          margin: 8px auto 0; }
        #map_legend p small {
          line-height: 16px;
          display: block;
          width: 100%;
          margin-top: 7px;
          text-align: center; }
        #map_legend p.nav-icon {
          background-size: 24px;
          background-position: 50% 5px; }
          #map_legend p.nav-icon small {
            margin-top: 13px; } }

#map_footer {
  position: absolute;
  width: 84%;
  max-width: 400px;
  left: 0;
  bottom: 34px;
  background: white;
  display: block;
  z-index: 12;
  font-size: 0.9em;
  padding: 6px 0 3px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px #666;
  -moz-box-shadow: 0 0 1px #666;
  box-shadow: 0 0 1px #666;
  border: 0;
  box-sizing: border-box;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0; }
  #map_footer .copyright {
    display: inline-block;
    box-sizing: border-box;
    width: 50%; }
  #map_footer #map_social {
    width: 50%;
    float: right;
    height: 20px;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: -2px;
    z-index: 14;
    padding-right: 6px;
    text-align: right; }
  @media screen and (max-width: 480px) {
    #map_footer .copyright, #map_footer #map_social {
      display: block;
      width: 100%;
      float: none;
      text-align: center; }
    #map_footer .copyright {
      position: relative;
      top: -3px;
      font-size: 0.9em; } }

.map-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.block {
  padding-top: 10px; }
  .block.website {
    font-size: 1em; }

#map_main {
  width: 100% !important;
  height: 100% !important;
  display: none;
  position: relative;
  z-index: 1; }

/*# sourceMappingURL=style.css.map */
