#map_footer{
	position: absolute;
	width: 84%;
	max-width: 400px;
	left: 0;
	bottom: 34px;
	background: white;
	display: block;
	z-index: 12;
	font-size: $font-medium;
	padding: 6px 0 3px 6px;
	@include panel;
	@include border-radius(0 6px 6px 0);
	.copyright{
		display: inline-block;
		box-sizing: border-box;
		width: 50%;
	}
	#map_social{
		width: 50%;
		float: right;
		height: 20px;
		box-sizing: border-box;
		overflow: hidden;
		display: inline-block;
		position: relative;
		top: -2px;
		z-index: 14;
		padding-right: 6px;
		text-align: right;
	}
	@media screen and (max-width:480px){
		.copyright, #map_social{
			display: block;
			width: 100%;
			float: none;
			text-align: center;
		}
		.copyright{
			position: relative;
			top: -3px;
			font-size: 0.9em;
		}
	}
}
