#map-header{
	width: 356px;
	height: 33px;
	position: absolute;
	top: $padding/2;
	right: 0;
	display: block;
	z-index: 8;
	background: $white;
	@include box-shadow($box-shadow);
	@include border-radius(6px 0 0 6px);
	
	@media screen and (max-width:768px){
		width: 64%;
		background: none;
		@include box-shadow(none);
	}
	@media screen and (max-width:480px){
		width: 54%;
		top: 9px;
	}
}