$legend-size: $icon-height+5;
$legend-bg: $white;

#map_legend{
	position: absolute;
	display: block;
	width: 133px;
	right: 0;
	top: 55px;
	z-index: 9;
	line-height: 18px;
	font-size: 0.9em;
	@include panel;
	p{
		background: $legend-bg;
		border-right: 1px solid $border-color;
		padding: 3px 6px;
		text-align: right;
		border-bottom: 1px solid $off-white;
		span{
			letter-spacing: -2px;
			font-size: 2em;
			float: right;
			&.line{
				float: left;
			}
		}
		small{
			line-height: 22px;
			width: 50%;
			text-align: left;
			display: inline-block;
		}
		&:first-child{
			@include border-radius(6px 0 0);
		}
		&:last-child{
			@include border-radius(0 0 0 6px);
		}
		&.nav-icon{
			height: $legend-size;
			background: $legend-bg url(../images/school.png) no-repeat 5px 5px;
			small{
				line-height: $legend-size;
			}
			&.nav-substation{
				background-image: url(../images/substation.png);
			}
		}
	}
	#map_legend{
		border: 1px solid $border-color;
		p{
			right: 0;
			top: 0;
		}
	}
	@media screen and (max-width:768px){
		width: 100%;
		top: 50px;
		background: $legend-bg;
		&:after{
			@include clearfix();
		}
		p{
			@include border-radius(0 !important);
			border: 0;
			padding: 0;
			display: inline-block;
			width: 25%;
			height: 40px;
			float: left;
			text-align: center;
			span{
				&.line{
					float: none;
					display: block;
					margin: 8px auto 0;
				}
			}
			small{
				line-height: 16px;
				display: block;
				width: 100%;
				margin-top: 7px;
				text-align: center;
			}
			&.nav-icon{
				background-size: 24px;
				background-position: 50% 5px;
				small{
					margin-top: 13px;
				}
			}
		}
	}
}