@mixin border-radius($r){
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	-ms-border-radius: $r;
	border-radius: $r;
}
@mixin box-shadow($bs){
	-webkit-box-shadow: $bs;
	-moz-box-shadow: $bs;
	box-shadow: $bs;
}
@mixin panel() {   
	@include border-radius(2px);
	@include box-shadow($box-shadow);
	//border: 1px solid $border-color;
	border: 0;
	box-sizing: border-box;
}
@mixin clearfix(){
	content:".";
	height:0;
	clear:both;
	display:block;
	visibility:hidden;
}