#search-wrap{
	position: absolute;
	display: block;
	z-index: 9;
	right: 2px;
	top: 2px;
	#search-label{
		font-size: $font-small;
		text-transform: uppercase;
	}
	#map_search{
		@include panel;
		width: 292px;
		padding: 5px 7px 7px;
		font-size: 14px;
	}
	@media screen and (max-width:768px){
		#search-label{
			display: none;
		}
	}
	@media screen and (max-width:480px){
		#map_search{
			width: 186px;
		}
	}
}