@import 'vars';
@import 'mixins';
@import 'tags';
@import 'deciles';
@import 'header';
@import 'search';
@import 'legend';
@import 'footer';

.map-wrap{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.block{
	padding-top: 10px;
	&.website{
		font-size: 1em;
	}
}
#map_main{
	width: 100% !important;
	height: 100% !important;
	display: none;
	position: relative;
	z-index: 1;
}
