$shadow: #666;
$dark: #272822;
$red: #ec2933;
$green: #23d84f;
$blue: #40b1fa;
$white: #fff;
$off-white: #efefef;
$border-color: #979899;
$decile1: #fa0b0b;
$decile2: #fa4d10;
$decile3: #de621f;
$decile4: #fc7014;
$decile5: #ad7414;
$decile6: #107010;
$decile7: #1abefb;
$decile8: #0a0085;
$decile9: #0a0085;
$decile10: #7f00bf;
$padding: 18px;
$font-small: 0.6em;
$font-medium: 0.9em;
$icon-height: 50px;
$box-shadow: 0 0 1px $shadow;

.red { color: $red; }
.green { color: $green; }
.blue { color: $blue; }
