<!DOCTYPE html>
<html ng-app="schoolzApp" xmlns:fb="http://www.facebook.com/2008/fbml"
    xmlns:og="http://opengraphprotocol.org/schema/"
    xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
    lang="en" dir="ltr">
<head>
<title>Schools in New Zealand</title>
<meta charset="utf-8">
<meta name="description" content="View NZ school information on Google Maps, compare deciles and demographics.">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta property="og:title" content="View New Zealand schools on Google Maps">
<meta property="og:site_name" content="schoolz.nz">
<meta property="og:type" content="website">
<meta property="og:url" content="http://schools.graemethornber.com">
<meta property="og:description" content="View NZ school information on Google Maps, compare deciles and demographics.">
<meta property="og:image" content="http://www.graemethornber.com/images/schools.screenshot.png">
<meta property="fb:app_id" content="404678913061528">
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="scripts/angular-1.2.5.min.js"></script>
<!--
<script src="../build/scripts/ng-map.min.js"></script>
-->
<script src="app.js"></script>
<script src="directives/map_controller.js"></script>
<script src="directives/map.js"></script>
<script src="services/geo_coder.js"></script>
<script src="services/navigator_geolocation.js"></script>
<script src="services/attr2_options.js"></script>
<script src="data/schoolz.js"></script>
<script src="data/pylonz.js"></script>
<script src="data/busz.js"></script>
<script src="data/substationz.js"></script>
<script src="scripts/markerclusterer_packed.js"></script>
<script src="scripts/gt_school.js"></script>
<script src="scripts/gt_substation.js"></script>
<script src="scripts/gt_mapControl.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css?v=1">
</head>

<body ng-controller="mapControl">
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=404678913061528";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="map-wrap">
      <map id="map_main" zoom="{{zoom}}" center="{{address}}"></map>
    </div>
    <header id="map-header">
      <div id="search-wrap">
        <label id="search-label">Search:&nbsp;</label>
        <input id="map_search" ng-model="address" placeholder="Find a School in NZ" list="schoolList" ng-keyup="searchKeyUp($event)" ng-change="searchChange()">
      </div>
    </header>

    <div id="map_legend" open="open">
      <p><span class="red line">------</span><small>Power&nbsp;Grid</small></p>
      <!--<p><span class="blue line">------</span><small>Buses</small></p>-->
      <p class="nav-icon nav-substation"><small>Substations</small></p>
      <p class="nav-icon nav-school"><small>Schools</small></p>
    </div>

    <datalist id="schoolList">
      <option ng-repeat="school in schoolz">{{school.FIELD2}}, {{school.FIELD23}}</option>
    </datalist>
    <div id="map_footer">
        <div class="copyright">
            <span class="copy">
                <a href="http://www.graemethornber.com">
                    <span class="bigtext">Graeme&nbsp;Thornber</span>
                    <!--<span class="smalltext">GT</span>-->
                </a>
                &copy;&nbsp;2016
            </span>
        </div>
        <div id="map_social">
            <div class="fb-like" data-href="http://schoolz.nz/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-41497075-1', 'schools.graemethornber.com');
        ga('send', 'pageview');
    </script>
</body>
</html>
